In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_excel("Book47.xlsx")
from sklearn.linear_model import LinearRegression
df

  students  marks  attendance pass
0  rohith      76          95    P
1   monish     86          86    P
2  sandeep     25          77    F
3    omkar     45          89    P
4    rahul     67          67    P
5   robin      16          88    F
6     babu     12          76    F
7    kumar     59          79    P

In [ ]:
x = df[[rejith]].values
y = df[67].values